<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>帮助文档</title>

</head>
<body>
<div>
    <p ><b>接口信息</b></p><br>
    --------------------------------------------------------------------------<br>
    0.结果响应码<br>
    http://192.168.1.124:8002/resultCode/<br>
    --------------------------------------------------------------------------<br>
    --------------------------------------------------------------------------<br>
    1.登陆接口<br>
    http://192.168.1.124:8002/login/<br>
    提交方式：post<br>
    参数名称   username = 电话号码 ， password = 密码,userType=用户类型('doctor','patient') <br>
    返回结果  resultcode 详情参照  http://192.168.1.124:8002/resultCode/<br>
    --------------------------------------------------------------------------<br>
    --------------------------------------------------------------------------<br>
    2.短信验证接口<br>
    http://192.168.1.124:8002/sendSmscode/tel=[phoneNUM]<br>
    提交方式：get<br>
    参数名称   tel = 电话号码 <br>
    返回结果  None<br>
    --------------------------------------------------------------------------<br>
    --------------------------------------------------------------------------<br>
    3.用户注册接口<br>
    http://192.168.1.124:8002/register/<br>
    提交方式：post<br>
    参数名称   tel= 电话号码，password= 密码 ， smscode= 短信验证码，userType=用户类型('doctor','patient') <br>
    返回结果  resultcode 详情参照  http://192.168.1.124:8002/resultCode/<br>
    --------------------------------------------------------------------------<br>
    --------------------------------------------------------------------------<br>
    4.发布任务接口<br>
    http://192.168.1.124:8002/addTask/<br>
    提交方式：post<br>
    参数名称：<br>
        symptom = 症状简介<br>
        type= 为谁求医 ,default='0'( 0 表示为自己提交任务)<br>
        lat= 病人精度<br>
        lon= 病人纬度<br>
        patient_name=病人名字<br>
        patient_tel=病人电话<br>
        patient_age= 病人年龄<br>
        patient_gender=病人性别<br>
    返回结果  数字    小于200000 表示当前频道看到任务的人数
    resultcode 详情参照  http://192.168.1.124:8002/resultCode/<br>
    --------------------------------------------------------------------------<br>
    --------------------------------------------------------------------------<br>
    5.获取当前通道所有任务接口<br>
    http://192.168.1.124:8002/queryAllTaskHandler/<br>
    提交方式：get<br>
    参数名称   无<br>
    返回结果  resultcode 详情参照  http://192.168.1.124:8002/resultCode/<br>
    --------------------------------------------------------------------------<br>
</div>
</body>
</html>