<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>帮助文档</title>

</head>
<body>
<div>
    <p ><b>接口信息</b></p><br>
    --------------------------------------------------------------------------<br>
    1.登陆接口<br>
    http://192.168.1.124:8002/login/<br>
    提交方式：post<br>
    参数名称   username = username ， password = password<br>
    --------------------------------------------------------------------------<br>
    --------------------------------------------------------------------------<br>
    2.注册接口<br>
    http://192.168.1.124:8002/login/<br>
    提交方式：post<br>
    参数名称   username = username ， password = password<br>
    --------------------------------------------------------------------------<br>

</div>
</body>
</html>